<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Home Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <%if (status == "loggedIn"){%>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <%}else{%>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <%}%>
          </ul>
        </div>
      </nav>

      <div class="container my-5">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <%if (status == "loggedIn"){%>
          <h5 class="card-title">Welcome <%= user.email%></h5>
          <%}else{%>
            <h5 class="card-title">Welcome LMAO asdasdad</h5>
            <%}%>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of 
            the card's content.</p>

            <%if (status == "loggedIn"){%>
              <button class="btn btn-primary"><a href="/profile" style="color: #fffdfd;">Profile 12</a></button>
              <button class="btn btn-primary"><a href="/api/logout"style="color: #fffdfd;">?Logout 12</a></button>
              <%}else{%>
                <button class="btn btn-primary"><a href="/login" style="color: #fffdfd;">Login</a></button>
                <button class="btn btn-primary"><a href="/register"style="color: #fffdfd;">Register</a></button>
                <%}%>
        </div>
      </div>
    </div>
</body>
</html>

